.main-stat{ 
    margin-bottom:16px; 
}
.main-stat-head{ 
    display:flex; 
    align-items:center; 
    justify-content:space-between; 
    margin-bottom:8px; 
}
.main-stat-value{ 
    font-size: 40px; 
    font-weight: 800; 
}
.round{ 
    border-radius:999px; 
    padding:10px; 
    display:inline-flex; 
}
.green-soft{ 
    background: var(--green-soft); 
}
.green{ 
    color: var(--green); 
}