:root{
  --bg: #f7f7fb;
  --card: #fff;
  --muted: #6b7280;
  --border: #e5e7eb;
  --blue: #2563eb;
  --blue-700: #1d4ed8;
  --green: #16a34a;
  --green-soft: #dcfce7;
  --pink: #ec4899;
  --pink-soft: #fce7f3;
  --purple: #9333ea;
  --purple-soft: #f3e8ff;
  --shadow: 0 1px 2px rgba(0,0,0,.04), 0 4px 12px rgba(0,0,0,.06);
}

* { box-sizing: border-box;}
html, body, #root {
    height: 100%;
}
body {
    margin: 0;
    font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Helvetica, Arial, "Apple Color Emoji","Segoe UI Emoji"; 
    color:#0f172a; 
    background: var(--bg); 
}